@import url('./theme.css');

.about {
  padding: 5rem 0;
}

.about__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
}

.about__content--image {
  flex: 50%;
}

.about__content--image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__content-texts {
  flex: 50%;
}

.about__content-texts--title {
  font-weight: 700;
  color: var(--main-text-color);
  margin-bottom: 1.5rem;
}

.about__content-texts--text {
  font-weight: 400;
  color: var(--main-text-color);
  margin-bottom: 1.5rem;
  max-width: 500px;
}

.button-secondary__icon div {
  margin: 0;
  padding: 0;
  margin-left: 1rem;
  width: 24px;
  height: 24px;
}

.about__content-texts--button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0 !important;
}

.section-label {
  color: #2ec5ce;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}

.statistics {
  display: flex;
  background-color: var(--extra-color);
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}

.statistics--header {
  flex: 1;
}

.statistics--content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-flow: row;
  grid-gap: 1rem;
  flex: 2;
}

.statistics--content--box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.statistics--content--box--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.statistics--content--box--icon div {
  margin: 0;
  padding: 0;
}

.statistics--content--box--text {
  text-align: left;
}

@media screen and (max-width: 768px) {
  .about__content--image {
    flex: 100%;
  }

  .about__content-texts {
    flex: 100%;
  }

  .about__content-texts--text {
    max-width: 100%;
  }

  .statistics {
    flex-direction: column;
  }

  .statistics--content {
    flex: 1;
    margin-left: auto;
    margin-right: auto;
  }

  .odd {
    flex-direction: column-reverse;
  }

  .statistics--header {
    text-align: left;
    margin: 1rem auto;
  }
  .statistics--content--box {
    justify-content: left;
  }
}
