:root {
  --main-bg-color: #ffffff;
  --secondary-bg-color: #f1e4ff;

  --main-color: #8c30f5;
  --main-text-color: #18191f;

  --extra-color: #d5fafc;

  --h1-font-size: 3rem;
  --h2-font-size: 2.5rem;
  --h3-font-size: 2rem;
  --h4-font-size: 1.5rem;
  --h5-font-size: 1.25rem;
  --h6-font-size: 1rem;
  --p-font-size: 1rem;
  --small-font-size: 0.875rem;
  --extra-small-font-size: 0.75rem;

  --main-font: 'Roboto', sans-serif;

  --main-border-radius: 8px;

  --main-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  --main-box-shadow-hover: 0 0 10px rgba(0, 0, 0, 0.2);
  --main-box-shadow-active: 0 0 10px rgba(0, 0, 0, 0.3);

  --desktop-width: 1440px;
  --tablet-width: 768px;
  --mobile-width: 375px;
}

/* Reset style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: var(--main-font);
  font-size: var(--p-font-size);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--main-font);
  font-weight: 700;
  color: var(--main-text-color);
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

p {
  font-size: var(--p-font-size);
}

small {
  font-size: var(--small-font-size);
}

a {
  text-decoration: none;
  color: var(--main-text-color);
}

a:hover {
  color: var(--main-color);
}

/* Layout */

.container {
  max-width: var(--desktop-width);
  margin: 0 auto;
  padding: 0 1rem;
  overflow: hidden;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-flow: row;
  grid-gap: 1rem;
}

/* Navigation */

.menu {
  background-color: var(--main-bg-color);
  padding: 1rem 0;
  position: fixed;
  top: 0;
  left: 0;
}
.menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.menu ul li {
  padding: 0.5rem 1rem;
  border-radius: var(--main-border-radius);
}

.menu ul li a {
  text-decoration: none;
  color: var(--main-text-color);
  padding: 1rem;
  font-weight: bold;
  transition: all 0.3s ease;
}

.menu ul li a:hover {
  background-color: var(--main-color);
  color: var(--main-bg-color);
}

/* Global Components */

.button-primary {
  background-color: var(--main-color);
  color: var(--main-bg-color);
  padding: 0.8rem 2rem;
  border-radius: var(--main-border-radius);
  border: none;
  font-weight: bold;
  transition: all 0.3s ease;
}

.button-primary:hover {
  background-color: var(--extra-color);
  color: var(--main-text-color);
}

.button-text {
  background-color: transparent;
  color: var(--main-color);
  padding: 0.8rem 2rem;
  border-radius: var(--main-border-radius);
  border: none;
  font-weight: bold;
  transition: all 0.3s ease;
}

.button-text:hover {
  background-color: var(--main-color);
  color: var(--main-bg-color);
}

.button-icon {
  background-color: transparent;
  color: var(--main-color);
  padding: 0.8rem 2rem;
  border-radius: var(--main-border-radius);
  border: none;
  font-weight: bold;
  transition: all 0.3s ease;
}

.button-icon:hover {
  text-decoration: underline;
}

.button-icon .icon {
  transition: all 0.3s ease;
  transform: translateX(-0.5rem);
}

.button-icon:hover .icon {
  transform: translateX(100%);
}

.button-outline {
  background-color: transparent;
  color: var(--main-color);
  padding: 0.8rem 2rem;
  border-radius: var(--main-border-radius);
  border: 2px solid var(--main-color);
  font-weight: bold;
  transition: all 0.3s ease;
}

.button-outline:hover {
  background-color: var(--main-color);
  color: var(--main-bg-color);
}

.hero {
  background-image: url(assets/images/Background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 5rem;
  max-width: 100vw;
}

.hero__text--big {
  font-weight: 700;
  color: var(--main-text-color);
  text-align: center;
  margin-top: 8rem;
}

.hero__text--small {
  font-weight: 400;
  color: var(--main-text-color);
  text-align: left;
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-size: 1.5rem;
  max-width: 50%;
}

/* ICONS */
.icon {
  width: 2rem;
  height: 2rem;
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
}

.ic--workflow {
  background-image: url(../assets/icons/icon-workflow.svg);
}

.ic--flexibility {
  background-image: url(../assets/icons/02.svg);
}

.ic--user-friendly {
  background-image: url(../assets/icons/03.svg);
}
.ic--multiple-layouts {
  background-image: url(../assets/icons/04.svg);
}
.ic--better-components {
  background-image: url(../assets/icons/05.svg);
}
.ic--well-organised {
  background-image: url(../assets/icons/08.svg);
}

.ic--arrow-right {
  background-image: url(../assets/icons/right-arrow.svg);
}

/* Foooter */
footer {
  background-color: var(--secondary-bg-color);
  padding: 1rem 0;
  text-align: center;
}

/* MEDIA */
@media screen and (max-width: 768px) {
  .hero__text--small {
    max-width: 100%;
  }
  .hero__text--big {
    text-align: left;
  }
}
